.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6f/Frankfurt_School_Campus.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
    background-position: no-repeat;
	z-index: 0;
	
}
.password1{
	
width: 275px;
height: 40px;
margin-left: -30px;
border: hidden;
margin-top: 80px;
}
.usuario1{

width: 275px;
height: 40px;
margin-left: -30px;
margin-top: 80px;
border: hidden;
position: absolute;





}
.contra{
	position: absolute;
	margin-top: 155px;
	margin-left: 50px;
 


	
}
form {
  height: 520px;
  width: 400px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  z-index: 500;
  
}

.login{
  margin:0 auto;
  position:relative;
  margin-top: 100px;
  margin-left: 50px;
  z-index: 0;
  width: 275px;

  
  
  }	
  

 

  label{
    display: inline-block;
    margin-right: 160px;
  
  }
  .usuario{margin-right:150px;
  
  }

  
  label{
    
    display: block;
    float: center;
  
  }
  
  .span{
    padding-top: 100px;
    font-size: x-large;
    font-family: ghotic;
    font-weight: 2px;
    padding-left:70px;
    position: absolute;
    z-index: 20000;
    color: grey;
    
    
    
  
  }
  img{
    position: absolute;
    width: 140px;
    height: 140px;
    margin-top: 250px;
    margin-left: -68px;
    z-index: 700;
    
  }


  .unilogo{
    width: 150px;
    height: 150px;
    margin-top: -40px;
    margin-left: 75px;
    position: absolute;
    z-index: 600;
  
  
  }

  .btn{
    width: 205px;
    

    
    
  } 

.babel {
  z-index: 2000;
  width: 200px;
  height: 200px;
}

.hr {
  
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-left: -40px;
    margin-top: 10px;
    z-index: 200000px;
}


.hl{
position: absolute;
z-index: 9999px;
height: 1px;
width: 300px;
border: 25px;
border-top: 3px solid #ccc;
margin-left: -30px;
margin-top: 75px ;



}

input {
 outline: none;
}





  
